@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

.my-container::-webkit-scrollbar {
  width: 12px;
  border-radius: 10px;
}

.my-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.my-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 3px solid #f1f1f1; /* Optional: gives the scrollbar thumb some padding */
}

/* Firefox */
.my-container {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
  border-radius: 10px;
}
